.thumbnail img {
  width: 500px;
  height: 300px;
  object-fit: fill;
}
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
}

.delete-form {
  display: inline;
}
